
{% extends 'base.html' %} {% block content %}

<h1>Candy Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ candy.name }}</span>
    <p>Where I Got It: {{ candy.house }}</p>
    <p>Description: {{ candy.description }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'candy_update' candy.id %}">Edit</a>
    <a href="{% url 'candy_delete' candy.id %}">Delete</a>
  </div>
</div>
<!-- ingredients model -->
<div class="col s6">
  <form action="{% url 'add_ingredients' candy.id %}" method="post">

    {% csrf_token %} {{ ingredients_form.as_p }}
    <input type="submit" class="btn" value="Add Ingredient" />
  </form>
  <table class="striped">
    <thead>
      <tr>
        <th>Expiration Date</th>
        <th>Ingredients</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredients in candy.ingredients_set.all %}
      <tr>
        <td>{{ingredients.exp_date}}</td>
        <td>{{ingredients.ing1}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- This is all new markup to be added just above the <script> tag -->
  <hr />
  <div class="row">
    <div class="col s6">
      <h3>{{ candy.name }}'s Brand</h3>
      {% if candy.brand.count %} {% for brand in candy.brand.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ brand.name }}
          </span>
        </div>
      </div>
      {% endfor %} {% else %}
      <h5>No Brands :(</h5>
      {% endif %}
    </div>
    <!-- Available brands will come after this line -->
  <div class="col s6">
    <h3>Available Brands</h3>
    {% if brands.count %}
      {% for brand in brands.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
             {{ brand.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{candy.name}} Already Has All Brands Available</h5>
    {% endif %}
</div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}
